
cmake_install.cmake_install
# Mac.
.DS_STORE

# Node.
node_modules
npm-debug.log

# Vim / Emacs
*~
*.swp
*.swo
*~
*#

# I like tmp folders
tmp

# CMake
build/
config.h
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
Testing/
*.a
*.o
check_trafficLightk
mock/mock
